.Dashboard {
    background-color: rgb(51, 45, 97);
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100hh;
    box-sizing: border-box;
}

/* .PostHeader { 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
} */
.dashboard-no-sidebar {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
    margin-left: 18rem;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 18rem;
    min-height: 100vh !important;
    background-color: rgba(0,0,0, 0.8);
    overflow: hidden;
}

.user_info {
    margin-left: 0em;
    margin-top: 2em;
}
.user_button {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    width: 100%;
    height: 7em;
    
} 
/* .hamburger_dropdown {
    font-size: 2.5em;
    color: white;
    height: 100%;
    align-items: center;
} */
.profile_picture {
    width: 6em;
    height: 6em;
    margin-right: 1em;
    margin-left: auto;
    border-radius: 50%;
}

.filler_button { 
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}    
.playlists-container {
    width: 100%;
}
.your-playlists {
    margin-top: 1em;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    width: 100%;
}

.your-playlists:hover {
    background-color: rgba(55, 55, 55, 0.5);
}
.your-playlists h1 {
    color: white;
    font-size: 1.5em;
    justify-content: center;
}
.your-top-20-container {
    margin-top: 0.25em;
}
.your-top-20-header {
    color: white;
}
.your-top-20 {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    width: 100%;
}
.your-top-20:hover {
    background-color: rgba(55, 55, 55, 0.5);
}
.your-top-20 h1 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5em;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.your-top-20 ul {
    color: white;
    font-size: 1em;
    justify-content: center;
    list-style: none;
}
.SearchBar { 
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    height: 55px;
    align-self: center;
    flex-grow: 2;
    width: 100%;
    outline: none;
    opacity: 1;
    cursor: pointer;
    
}

.SearchBar input {
    padding-left: 1em;
    width: 25em;
    border-radius: 20px 0 0 20px;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.75);
    font-size: 24px;
    cursor: pointer;
    border-right: none;
}
.SearchBar input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}
.SearchBar input:focus {
    outline: none !important;
    border-color: none;
    box-shadow: none;
}
.SearchBar button {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.75);
    border-left: none;
    border-radius: 0 20px 20px 0;
    width: 7em;
    cursor: pointer;
    
}

.searchicon {
    font-size: 2em;
}
.SearchResults {
    order: 3;   
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
}

.mappedresults {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.75);
    margin-bottom: 3rem;
    margin-left: 5em;
    margin-right: 5em;
    padding-top: 3em;
    width: 100%;
}
.artist-albums:hover {
    cursor: pointer;
}
.album-covers {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}
.ArtistCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.songCards {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    flex-wrap: wrap;
}

.albumCover {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 5em;
}
.album-cover-img {
    height: 320px;
    width: 320px;
}
.album-name {
    padding-top: 0.5em;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.8);
}
.songsInAlbum {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5em;
    display: none;
}
.songsInAlbumCombined {
    width: 8em;
    display: flex;
    flex-direction: column;
}

.artistName {
    font-size: 0.6em;
}

.usersTopArtists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5em;
    margin-right: 2em;
    background-color: rgba(46, 49, 49, 0.25);
    border-radius: 1%;
}
.top-artists-container {
    display: flex;
    background-color: black;
    padding-bottom: 2em;
    padding-top: 1em;
    margin: 0.5em;
    border: black solid;
    cursor: pointer;
    border-radius: 10%;
}
.top-artists-card {
    display: flex;
    flex-direction: column;
}
.artist-image {
    order: 1;
    margin-bottom: 1.5em;
    border-radius: 50%;
    height: 160px;
    width: 160px;
}
.artist-name {
    order: 2;
    color: white;
    align-self: center;
}
.top-artist-greeting {
    margin-left: 17em;
    color: #f5f5f5
}
.album-banner {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    /* margin-bottom: 5em; */
    background-color: rgba(0, 0, 0, 0.75);
    border-bottom: white solid 0.5px;  
}
.album-banner-container {
    order: 1;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    padding-top: 1em;
    margin-left: 2em;
    cursor: pointer;
    border-radius: 10%;
}
.album-banner-card {
    display: flex;
    flex-direction: column;
}
.album-banner-image {
    order: 1;
    margin-bottom: 0.5em;
    height: 320px;
    width: 320px;
    border-radius: 10%;
}
.album-banner-name {
    order: 2;
    font-size: 3em;
    color: white;
    font-weight: bold;
    align-self: center;
}
.artist-banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    /* margin-bottom: 5em; */
    background-color: rgba(0, 0, 0, 0.75);
    border-bottom: white solid 0.5px;
}
.artist-banner-container {
    order: 1;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    padding-top: 1em;
    margin-left: 2em;
    cursor: pointer;
    border-radius: 10%;
}
.artist-banner-card {
    display: flex;
    flex-direction: column;
}
.artist-banner-image {
    order: 1;
    margin-bottom: 0.5em;
    height: 320px;
    width: 320px;
    border-radius: 10%;
}
.artist-banner-name {
    order: 2;
    font-size: 3em;
    color: white;
    font-weight: bold;
    align-self: center;
}
.show-top-artists {
    margin-left: 17em;
    color: #f5f5f5;
}
.artist-banner-tracks {
    order: 2;
    height: 30em;
    width: 87em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* .banner-track-name-group {
    padding-right: 2em;
    padding-left: 1em;
} */

.banner-tracks-info {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    padding-left: 1.5em;
}
.banner-tracks-info:hover {
    background-color: rgba(128, 128, 128, 0.25);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 2em;
}
.banner-track-count {
    order: 1;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.5); 
    align-self: center;
}
.banner-track-album-image {
    order: 2;
    align-self: center;
    padding-left: 1em;
}
.banner-track-name {
    order: 3;
    flex-grow: 1;
    color: rgba(255, 255, 255, 0.8);
    padding-left: 1em;
    align-self: center;
    font-weight: bold;
}
.banner-track-time {
    order: 4;
    color: rgba(255, 255, 255, 0.8);
    align-self: center;
    flex-grow: 2;
    margin-left: 10em;
    text-align: right;
}
.tracks-hover-toggle { 
    height: 4em;
    width: 3em;
    display: flex;
    justify-content: center;
}

.tracks-play-button {
    font-size: 2em;
    align-self: center;
}
.tracks-play-button, .banner-tracks-info:hover .banner-track-count {
    display: none;
}

.banner-tracks-info:hover .tracks-play-button {
    display: block;
}