* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
    background: url('./images/cat-background.jpg') no-repeat center center fixed;
    background-size: cover;
}
body {
    color: white;
}

.navBar {
    margin-top: 3em;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.navBar p {
    padding-block-start: 0.15em;
}

.artistInfo {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.60);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.artistInfo p {
    padding-left: 1em;
    padding-right: 1em;
}

